.text-field,
.button,
.combo-box{
    -fx-background-radius:4px;
    -fx-border-color: rgba(130,110,40,1);
    -fx-border-radius:4px;
    -fx-border-width:2px;
    -fx-background-color: linear-gradient(to bottom, #FFFFFF, #E0E0E0);
}

.date-picker:focused,
.text-field:focused{
    -fx-background-color: transparent;
}

.form{
    -fx-background-color: white;
    -fx-border-color: rgba(130,110,40,1);
    -fx-border-width:2px;
}

.slider .thumb {
    -fx-background-color: linear-gradient(to right, rgba(150,127,50,1) 20%, rgba(251,255,0,1) 100%);
}

.slider .track {
    -fx-background-color: linear-gradient(to right, rgba(150,127,50,1) 20%, rgba(251,255,0,1) 100%);
}

.add-button{
    -fx-background-color: linear-gradient(to right, rgba(150,127,50,1) 20%, rgba(251,255,0,1) 100%);
    -fx-background-radius:10px;
    -fx-border-radius:10px;
    -fx-border-color: rgba(130,110,40,1);
    -fx-border-width:2px;
}

.add-button:hover{
    -fx-background-color: linear-gradient(to right, rgba(130,110,40,1) 20%, rgba(230,235,0,1) 100%);
    -fx-background-radius:10px;
}

.text-field-error{
    -fx-border-color:red;
}
