.background{
    -fx-background-color:#fff;
    -fx-background-radius:10px;
    -fx-border-color: rgba(140,115,40,1);
    -fx-border-radius:10px;
}

.button-yes{
    -fx-background-radius:20px;
    -fx-background-color: rgba(150,127,50,1);
    -fx-border-radius:20px;
    -fx-border-color: rgba(130,110,40,1);
    -fx-border-width:2px;
}

.button-yes:hover{
    -fx-background-color: rgba(130,110,40,1);
}

.button-no{
    -fx-background-color:#fff;
    -fx-border-radius:20px;
    -fx-border-color: rgba(150,127,50,1);
    -fx-border-width:1px;
}

.button-no:hover{
    -fx-background-color: rgba(255,250,200,0.8);
    -fx-background-radius:20px;
}
