.top-form{
    -fx-background-color: #fff;
    -fx-border-color:#000;
    -fx-border-width:0.4 0.4 0.4 0.4;
}

.left-form{
    -fx-background-color: linear-gradient(to left, rgba(140,115,40,1) 20%, rgba(240,245,0,1) 100%);
    -fx-border-color : #000;
    -fx-border-width : 3px;
}

.button{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-text-fill: #000;
    -fx-font-size:20px;
    -fx-font-family:"Arial";
}

.side-buttons{
    -fx-background-color: linear-gradient(to left, rgba(140,115,40,1) 20%, rgba(240,245,0,1) 100%);
    -fx-background-radius:10px;
    -fx-border-color:#000;
    -fx-border-width:2px;
    -fx-border-radius:10px;
}

.bottom-buttons{
    -fx-background-color: linear-gradient(to left, rgba(140,115,40,1) 20%, rgba(240,245,0,1) 100%);
    -fx-background-radius:10px;
    -fx-border-color:#000;
    -fx-border-width:2px;
    -fx-border-radius:10px;
}

.button:hover{
    -fx-background-color: linear-gradient(to left, rgba(125,105,38,1) 20%, rgba(220,225,0,1) 100%);
    -fx-background-radius:10px;
}

.white-background{
    -fx-background-color:#fff;
    -fx-background-radius:20px;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.4),6,0,0,0);
}

.top-labels{
    -fx-background-color: linear-gradient(to left, rgba(140,115,40,1) 20%, rgba(240,245,0,1) 100%);
    -fx-background-radius: 15px;
    -fx-border-color:#000;
    -fx-border-radius:15px;
    -fx-border-width : 2.5;
}

.table-view{
    -fx-background-color:transparent;
    -fx-padding:0px;
    -fx-border-color: linear-gradient(to left, rgba(140,115,40,1) 20%, rgba(240,245,0,1) 100%);
    -fx-border-radius : 20px;
    -fx-border-width : 2px;
}

.table-view .column-header-background{
    -fx-background-color : linear-gradient(to left, rgba(140,115,40,1) 20%, rgba(240,245,0,1) 100%);
    -fx-background-radius : 15px;
    -fx-background-inset : 0px;
}

.table-view .column-header{
    -fx-background-color : transparent;
    -fx-size : 40px;
}

.table-view .column-header .label{
    -fx-text-fill : #fff;
    -fx-font-family : "Arial";
}

.table-view .table-cell{
    -fx-font-size:14px;
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-color:transparent;
}

.table-view .table-row-cell{
    -fx-background-color:transparent;
    -fx-background-radius:20px;
}

.table-view .table-row-cell:selected{
    -fx-background-color: rgba(125,105,38,0.8);
}

.pagination .number-button{
    -fx-background-radius : 40px;
    -fx-background-color : linear-gradient(to left, rgba(140,115,40,1) 20%, rgba(240,245,0,1) 100%);
    -fx-text-fill : #fff;
    -fx-font-size:14px;
}

.pagination .number-button:selected{
    -fx-background-color: linear-gradient(to left, rgba(100,85,30,1) 20%, rgba(200,205,0,1) 100%);
}

.pagination .number-button:hover{
    -fx-background-color : linear-gradient(to left, rgba(110,100,35,1) 20%, rgba(215,215,0,1) 100%);
}

.pagination .left-arrow-button,
.pagination .right-arrow-button,
.pagination .page-information{
    -fx-opacity:0;
}
